#Ignore vscode settings
/.vscode

# Ignore Binary Files
tickers.pdf
*.o
tickers

# Ignore adocs
*.adoc

# Ignore indent Files
*.c~

# Ignore scratch
scratch.c

# Ignore search_results
docs/search_results
